<template>
  <div class="home">
    <p>Hello world</p>
    <div class="materials">
      <ul>
        <li v-for="material in Materials" :key="material.name">
          <material-component :materialModel="material" />
        </li>
      </ul>
    </div>
    <multiplier-list/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { MaterialsData } from '@/model/materialsData'
import Material from '@/model/material'
import MaterialComponent from '@/components/MaterialComponent.vue'
import MultiplierList from '@/components/MultiplierList.vue'

@Component({
  components: {
    MaterialComponent,
    MultiplierList
  }
})
//this.$store.state
export default class Home extends Vue {
  public materialsData = MaterialsData

  get Materials(): Material[] {
    return this.$store.state.materials
  }
}
</script>

<style lang="scss">
ul {
  list-style: none;
  display: inline-block;
  text-align: left;
}
</style>
