<template>
  <button color="dark" @click="onClick">
    <tr :name="name">
      <td>
        {{ icon }}
      </td>
      <td>
        {{ name }}:
      </td>
      <td>
        {{ count }}
      </td>
    </tr>
  </button>
</template>

<script lang="ts">
import { Prop, Component, Vue } from 'vue-property-decorator'
import Material from '@/model/material'
import { multiplier, Multiplier } from '@/model/multiplier.ts'

@Component
export default class MaterialComponent extends Vue {
  @Prop() materialModel!: Material

  name: string
  icon: string
  count: number = 0

  multiplier: Multiplier

  constructor() {
    super()
    this.name = this.materialModel.name
    this.icon = this.materialModel.icon
    this.count = (this.materialModel.count || 0)
    this.multiplier = multiplier
  }

  get material(): Material {
    return this.materialModel
  }

  public onClick(): void {
    this.count = this.count + this.multiplier.getClick * this.multiplier.getGlobal
  }
}
</script>
