<template>
  <div id="multiplier">
    <ul v-for="multiplier in multiplierList" :key="multiplier.name">
      <li>
        <tr>
          <td>
            {{ multiplier.name }}
          </td>
          <td>
            {{ multiplier.count }}
          </td>
        </tr>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { multiplier, Multiplier } from '@/model/multiplier'

export default class MultiplierList extends Vue {
  multiplier: Multiplier

  constructor() {
    super()
    this.multiplier = multiplier
  }

  get multiplierList(): any[] {
    return [
      { name: 'Global multiplier', count: this.multiplier.getGlobal },
      { name: 'Click multiplier', count: this.multiplier.getClick }
    ]
  }
}
</script>

<style lang="scss">
ul {
  list-style: none;
}
</style>
