<template>
  <div id="button">
    <button @click="onClick">Save progress!</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

export default class SaveProgressButton extends Vue {
  public onClick(): void {
    this.$store.dispatch('saveMaterials')
  }
}
</script>

<style lang="scss">
</style>
