<template>
  <div id="app">
    <div id="nav">
      <router-link v-for="item in menu" :key="'nav' + item.name" :to="item.target">
        {{ item.name }}
      </router-link>
    </div>
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class app extends Vue {
  public menu: any[];

  constructor() {
    super();
    //TODO: would be grat to move elsewhere
    this.menu = [
      { name: 'Mining', icon: '', target: '/' },
      { name: 'Research', icon: '', target: '/research' }
    ];
  }
}
</script>

<style lang="scss">

body {
  background-color: darkgrey;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 10px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #4c4c4c;
    }
  }
}
</style>
